---
const pathname = new URL(Astro.request.url).pathname

enum NavigationLinks {
	home = '/',
	about = '/about/',
	skills = '/skills/',
	projects = '/projects/',
	contacts = '/contacts/'
}
---

<header class="bg-gray-700">
	<div class="flex items-center gap-2 p-2">
		<span class="h-3 w-3 rounded-full bg-red-500"></span>
		<span class="h-3 w-3 rounded-full bg-yellow-400"></span>
		<span class="h-3 w-3 rounded-full bg-green-400"></span>
		<span class="ml-2 text-xs text-gray-500">vlastimil_skupien</span>
	</div>
	<nav class="flex text-sm text-white *:border-r-4 *:border-t-4 *:px-12 *:py-2">
		<a
			class=`${pathname === NavigationLinks.home && 'border-t-yellow-400'} border-gray-800`
			href={NavigationLinks.home}>_hello</a
		>
		<a
			class=`${pathname === NavigationLinks.about && 'border-t-yellow-400'} border-gray-800`
			href={NavigationLinks.about}>_about</a
		>
		<a
			class=`${pathname === NavigationLinks.skills && 'border-t-yellow-400'} border-gray-800`
			href={NavigationLinks.skills}>_skills</a
		>
		<a
			class=`${pathname === NavigationLinks.projects && 'border-t-yellow-400'} border-gray-800`
			href={NavigationLinks.projects}>_projects</a
		>
		<a
			class=`${pathname === NavigationLinks.contacts && 'border-t-yellow-400'} border-gray-800`
			href={NavigationLinks.contacts}>_contacts</a
		>
	</nav>
</header>
