---
const pathname = new URL(Astro.request.url).pathname

enum NavigationLinks {
	home = '/',
	about = '/about/',
	skills = '/skills/',
	projects = '/projects/',
	contacts = '/contacts/'
}
---

<header class="sticky top-0 z-10 bg-gray-700">
	<div class="flex items-center gap-2 p-2">
		<span class="h-3 w-3 rounded-full bg-red-500"></span>
		<span class="h-3 w-3 rounded-full bg-yellow-400"></span>
		<span class="h-3 w-3 rounded-full bg-green-400"></span>
		<span class="ml-2 text-xs text-gray-500">vlastimil_skupien</span>
	</div>
	<nav
		class="flex gap-1 bg-gray-800 text-sm text-white *:border-t-4 *:bg-gray-700 *:px-12 *:py-2"
	>
		<a
			class=`${pathname === NavigationLinks.home && 'border-t-red-400 text-yellow-300'} border-gray-800 hover:text-yellow-300`
			href={NavigationLinks.home}>_hello</a
		>
		<a
			class=`${pathname === NavigationLinks.about &&'border-t-red-400 text-yellow-300'} border-gray-800 hover:text-yellow-300`
			href={NavigationLinks.about}>_about</a
		>
		<a
			class=`${pathname === NavigationLinks.skills &&'border-t-red-400 text-yellow-300'} border-gray-800 hover:text-yellow-300`
			href={NavigationLinks.skills}>_skills</a
		>
		<a
			class=`${pathname === NavigationLinks.projects &&'border-t-red-400 text-yellow-300'} border-gray-800 hover:text-yellow-300`
			href={NavigationLinks.projects}>_projects</a
		>
		<a
			class=`${pathname === NavigationLinks.contacts &&'border-t-red-400 text-yellow-300'} border-gray-800 hover:text-yellow-300`
			href={NavigationLinks.contacts}>_contacts</a
		>
		<span class="grow border-gray-800"></span>
	</nav>
</header>
